body, td, input, textarea, button {
  font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
  font-size: 8pt;
  color: #ccc;
  background-color: black;
}

/* a {background-color: #000;} */
a:link {color:#aaf;} /* unvisited link */
a:visited {color:#faf;} /* visited link */
a:hover {color:#ffa;} /* mouse over link */
a:active {color:#faa;} /* selected link */


span.myself {
  color: #666;
}


@media all and (max-width: 800px) {
    #saywut { width: 400px }
}

@media all and (max-width: 640px) {
    #saywut { width: 90% }
}


div.saying {
   text-indent: -3em;
   padding-left: 3em;
   overflow: hidden;
   text-overflow: ellipsis;
}

div.saying p:first-of-type, span.blah p:first-of-type {
   display: inline
}

img {
   max-width: 95%;
}

input {
    border: 1px solid #ccc;
}
