body, td, input {
  font-family: Consolas, Lucida Console, monospace;
  font-size: 8pt;
  color: #ccc;
  background-color: black;
}

/* a {background-color: #000;} */
a:link {color:#aaf;} /* unvisited link */
a:visited {color:#faf;} /* visited link */
a:hover {color:#ffa;} /* mouse over link */
a:active {color:#faa;} /* selected link */


span.myself {
  color: #666;
}


@media all and (max-width: 640px) {
    #say { width: 400px }
}

@media all and (max-width: 320px) {
    #say { width: 80% }
}


div.saying {
   text-indent: -8em;
   margin-left: 8em;
}

img {
   max-width: 95%;
}
